.title{
	font-weight:bold;
	margin-top:10px;		
}
.message{
	background-color:#000;
	padding:15px;
	color:lime;
}
.sender{
	color:yellow;
}
textarea{
	width:98%;
}
.row-padding{
	padding-top:100px
}
.row-padding-dashboard{
	padding-top:50px
}